# MacOS
.DS_Store
.vscode

# Storybook & Storyshots
.out
__diff_output__

# Gatsby
public/
.cache/

# Netlify functions
packages/netlify-functions/build

# Lingui
packages/static-site/src/locales/_build
packages/static-site/src/locales/*/messages.js

# Local configuration
.editorconfig
.token

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# cypress screenshots
packages/cypress/cypress/screenshots/

# Netlify-cli config
.netlify
